include "/home/named/named.conf";

zone "wyvernsquare.com" {
    type master;
    file "zones/wyvernsquare.com";
};

zone "internal.wyvernsquare.com" {
    type master;
    file "zones/internal.wyvernsquare.com";
};

zone "102.130.133.in-addr.arpa" {
    type master;
    file "zones/reverse.zone";
    allow-update { none; }; 
};
